# 타이타닉 EDA

> 가정
- 남자, 여자 중 여자가 많이 살을 것이다.
- 객실등급 1등급인 사람들이 많이 살았을 것이다.
- 실제 어린이들이 많이 살았을 것이다.

> 미션
- 남자/여자 수, 객실 등급별 수
- 연령대별 수(10대, 20대, 30대, 40대,...)
- 남여별/객실등급별 생존바수를 그래프로 표현

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import *
%matplotlib inline

# 두 번째 방법

In [2]:
from pandas import Series, DataFrame


df = pd.read_csv('./data/titanic_train.csv')

In [3]:
df_tmp = DataFrame({
    'Sex' : df.Sex,
    'Pclass' : df.Pclass
})


df_tmp.head(10)

      Sex  Pclass
0    male       3
1  female       1
2  female       3
3  female       1
4    male       3
5    male       3
6    male       1
7    male       3
8  female       3
9  female       2

In [4]:
df_tmp_f = df_tmp[df_tmp.Sex =='female']
df_tmp_f.head()

      Sex  Pclass
1  female       1
2  female       3
3  female       1
8  female       3
9  female       2

In [5]:
df_tmp_f1 = df_tmp_f[df_tmp_f.Pclass==1]
df_tmp_f1.head()

       Sex  Pclass
1   female       1
3   female       1
11  female       1
31  female       1
52  female       1

In [6]:
len(df_tmp_f1)

94

In [7]:
df_tmp_f1[::10]

        Sex  Pclass
1    female       1
177  female       1
269  female       1
311  female       1
369  female       1
498  female       1
571  female       1
700  female       1
781  female       1
862  female       1

In [8]:
len(df_tmp)

891

In [9]:
df_tmp['Category'] = ''
df_tmp.head()

      Sex  Pclass Category
0    male       3
1  female       1
2  female       3
3  female       1
4    male       3

In [10]:
df_tmp.index

RangeIndex(start=0, stop=891, step=1)

In [11]:
for idx in  df_tmp.index:
    pclass = df_tmp['Pclass'][idx]
    sex    = df_tmp['Sex'][idx]
    category = '{}:{}'.format(pclass, sex)
    
    # 100개 단위로 프린트하기 위해
    if (idx%100==0) or (idx==len(df_tmp)-1):  print(idx, '\t=>', category)
        
    # df_tmp['Category'][idx] = category
    df_tmp.Category[idx] = category

0 	=> 3:male

C:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

100 	=> 3:female
200 	=> 3:male
300 	=> 3:female
400 	=> 3:male
500 	=> 3:male
600 	=> 2:female
700 	=> 1:female
800 	=> 2:male
890 	=> 3:male

In [12]:
df_tmp.head()

      Sex  Pclass  Category
0    male       3    3:male
1  female       1  1:female
2  female       3  3:female
3  female       1  1:female
4    male       3    3:male

In [13]:
df_tmp['Category'].unique()

array(['3:male', '1:female', '3:female', '1:male', '2:female', '2:male'],
      dtype=object)

In [14]:
len(df_tmp[df_tmp['Category']=='1:female'])

94

In [15]:
count_f = []
count_f.append(len(df_tmp[df_tmp['Category']=='1:female']))
count_f.append(len(df_tmp[df_tmp['Category']=='2:female']))
count_f.append(len(df_tmp[df_tmp['Category']=='3:female']))

count_f

[94, 76, 144]

In [16]:
count_m = []
count_m.append(len(df_tmp[df_tmp['Category']=='1:male']))
count_m.append(len(df_tmp[df_tmp['Category']=='2:male']))
count_m.append(len(df_tmp[df_tmp['Category']=='3:male']))

count_m

[122, 108, 347]

In [17]:
t1 = [1,5]
t2 = [2,6]
t3 = [3,7]

plt.figure(figsize =(10, 6))
plt.bar(t1, count_p1, color = 'c', width = 1, label = '1등급')
plt.bar(t2, count_p2, color = 'pink', width = 1, label = '2등급')
plt.bar(t3, count_p3, color = 'gray', width = 1, label = '3등급')
plt.title('타이타닉호 남여구분 객실등급별 승객수')
plt.xlabel('성별 구분')
plt.ylabel('승객수')
plt.legend(title = 'Pclass')

t = list(range(8))

plt.xticks(t, ('','1등실','2등실','3등실','','1등실','2등실','3등실'))
plt.show()

NameError: name 'count_p1' is not defined

In [18]:
plt.figure(figsize=(10,6))

colors = ['w' , 'b', 'g', 'r', 'w', 'c', 'm', 'y', 'w', 'k' ]
labels = ['', '여자,1등실', '여자,2등실', '여자,3등실', '', '남자,1등실', '남자,2등실', '남자,2등실']
# xticks = ('', '여자','','','','남자','' )
xticks = ('1등실', '2등실\n\n여자','3등실','','1등실','2등실\n\n남자','3등실' )
t = list(range(1,8))

for idx in range(1, 8):
    plt.bar(idx, count_all[idx], color=colors[idx], width=0.8, label=labels[idx])

plt.title('타이타닉호 남여-객실등급별 승객수')
plt.ylabel('승객수')
plt.legend(title='남여-객실등급별\n')

plt.xticks(t , xticks)   # set the locations of the xticks
plt.show()

NameError: name 'count_all' is not defined

# 3번째 방법: Pandas 이용

In [ ]:
df.head()

In [ ]:
df.groupby('Sex').size()

In [ ]:
df.groupby('Pclass').size()

In [ ]:
df.groupby(['Pclass','Sex']).size ()

In [ ]:
df.groupby(['Sex','Pclass']).size()

In [ ]:
import math

In [ ]:
?math.floor

In [ ]:
# age_group 만들기
# math.floor: 정수부분만 가져오기
age_series = df.Age.dropna().apply(lambda age: math.floor(age/10) * 10)
age_series.name = 'Age_Group'

In [ ]:
age_series.head(10)

In [ ]:
age_series.isna().sum()

In [ ]:
len(age_series)

In [ ]:
df= pd.concat((df, age_series), axis = 1)

In [ ]:
df.head(10)

In [ ]:
df.Age_Group = df.Age_Group.fillna('확인불명')

In [ ]:
age_group_df = df.groupby('Age_Group').size()

In [ ]:
age_group_df

- df.agg: aggregate using callable, string, dict, or list of string/callables

In [ ]:
# 생존율 : mean을 이용해서 구하기
df.groupby('Pclass').agg({'Survived': 'mean'})

In [ ]:

df.groupby("Sex").agg({"Survived": "mean"})

In [ ]:
df.groupby('Sex').agg({'Survived': 'sum'})

In [ ]:
print('생존율:', 233/314, 109/577)

- pd.crosstab: compute a simple cross_tabulation of two(or more) factors

In [ ]:
# 2개의 컬럼으로 집계 테이블
#pd.crosstab(axis = 0, dxis = 1)
pd.crosstab(df.Sex, df.Pclass, margins = True)

- pd.pivot_table: Create a speadsheer - style pivot table as a dataframme

In [ ]:
df.pivot_table('Survived','Sex', 'Pclass')  # defulat: mean으로 설정 -. 생존율

In [ ]:
# groupby + unstack()  =. 피벗 테이블과 비슷한 기능
df.groupby(["Pclass", "Sex"]).size().unstack(1)

In [ ]:
temp_df = df.groupby(["Pclass", "Sex"]).size().unstack(0)
temp_df

In [ ]:
# temp_df.sum(axis=1)
result_df = temp_df.div(temp_df.sum(axis=1), axis=0)
# 비율을 연산하는 과정                .sum() => .div()
result_df

# 데이터 시각화

In [ ]:
from matplotlib import font_manager, rc

font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/MALGUN.TTF").get_name()
rc('font', family=font_name)

%matplotlib inline

In [ ]:
plt.rcParams['figure.figsize'] = (12, 8)

In [ ]:
bar_plot = result_df.plot.bar()

In [ ]:
result_df.plot(kind="barh", title="Titanic");

In [ ]:
result_df.plot(kind="barh", title="Titanic", stacked = True);

In [ ]:
plt.rcParams['figure.figsize'] = (12,12)

labels = list(age_group_df.index)
labels = ['10세미만', '10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '확인불명']
sizes  = list(age_group_df.values)
explode = (0, 0, 0.1, 0, 0, 0, 0, 0, 0, 0)  # only "explode" the 2nd slice (i.e. 'Hogs')

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=False, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()