# Python Revies: 함수 3

## 람다함수 및 내장 함수

>- 함수 정의 및 호출
- 변수의 유효 범위
- 람다(lambda)함수
- 유용한 내장 함수

## 람다(lambea)함수

In [2]:
(lambda x : x **2) (3)

9

In [4]:
mySquare = lambda x : x **2
mySquare(2)

4

In [6]:
mySquare(5)

25

In [7]:
mySimpleFunc = lambda x, y, z: 2 * x + 3 * y + z
mySimpleFunc(1,2,3)

11

In [8]:
func = lambda x, y: x **2 + 2 * y
func(2, 3)
func(3, 2)

13

In [9]:
func

## 유요한 내장 함수

### 형 변환 함수(cast)

- 정수형으로 변환

In [11]:
[int(0.123), int(3.5123456), int(-1.31234567)]  # 정수부 + 소수부에서 소수부를 날림

[0, 3, -1]

In [12]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

- 실수형으로 변환

In [13]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [14]:
[float('10'), float('0.123'), float('567.89')]

[10.0, 0.123, 567.89]

- 문자형으로 변환

In [15]:
[str(123), str(45678), str(-987)]

['123', '45678', '-987']

In [16]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

- 리스트, 튜플 세트형으로 변환

In [17]:
list_data = ['abc',1,2, 'def']
tuple_data = ('abc',1,2, 'def')
set_data = {'abc',1,2, 'def'}

In [18]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [20]:
print('list로 변환: ',list(tuple_data), list(set_data))

list로 변환:  ['abc', 1, 2, 'def'] ['def', 1, 2, 'abc']

In [21]:
print('튜블로 변환:', tuple(list_data), tuple(list_data))

튜블로 변환: ('abc', 1, 2, 'def') ('abc', 1, 2, 'def')

In [22]:
print('세트로 변환:', set(list_data), set(tuple_data))

세트로 변환: {'def', 1, 2, 'abc'} {'def', 1, 2, 'abc'}

# #bool 함수

- 숫자를 인자로 bool 함수 호출

In [23]:
bool(0)

False

In [24]:
bool(1)

True

In [25]:
bool(-1)

True

In [26]:
bool(-5.12)

True

In [27]:
bool(-3.26)

True

- 문자열을 인자로 bool함수 호출
    - 공백 등 문자가 있으면 :True
    - null값 등 문자가 없으면 :False

In [28]:
bool('a')

True

In [30]:
bool(' ')

True

In [31]:
bool('')

False

In [32]:
bool(None)

False

- 리스트, 튜플, 세트를 인자로 bool함수 호출

In [33]:
myFriends = []
bool(myFriends)  # 인자: 항목이 없는 빈 리스트

False

In [35]:
myFriends=['james','robert','lisa','mary']
bool(myFriends)

True

In [36]:
myNum = ()
bool(myNum)

False

In [38]:
myNum= (1,2,3)
bool(myNum)

True

In [39]:
mySetA ={}
bool(mySetA)

False

In [40]:
mySetA = {10,20,30}
bool(mySetA)

True

- bool함수의 응용

In [43]:
def print_name(name):
    if bool(name):
        print('입력된 이름:', name)
    else:
        print('입력된 이름이 없습니다.')

print_name('진수')

입력된 이름: 진수

In [44]:
print_name('')

입력된 이름이 없습니다.

## 최소값과 초대값을 구하는 함수

In [45]:
myNum = [10,5,12,0,3.5,99.5,42]
[min(myNum), max(myNum)]

[0, 99.5]

In [47]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [46]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [48]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

## 항목의 개수를 구하는 함수