# Time_Series

# 1. PSL의 datatime 모듈

- PSL: Python Standate Ibrary

- datetime: 날짜와 시간을 담당하는 모듈

In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

## 1.1 datetime 객체의 주요 attribute

- datetime.year
- datetime.month
- datetime.day
- datetime.hour
- datetime.second
- datetime.microsecond

## 1.2 datetime 객체의 생성 방복

In [2]:
datetime(2019, 8, 27)

datetime.datetime(2019, 8, 27, 0, 0)

In [3]:
datetime.now()

datetime.datetime(2019, 8, 31, 14, 33, 31, 389922)

In [4]:
datetime(2019,8,31)

datetime.datetime(2019, 8, 31, 0, 0)

## 1.3 datetime 객체의 산술 연산

In [5]:
datetime.now() - datetime(2019,8,27)

datetime.timedelta(days=4, seconds=52411, microseconds=465927)

In [6]:
from datetime import timedelta

In [7]:
t1 = datetime(2019, 1,1)

In [8]:
t1

datetime.datetime(2019, 1, 1, 0, 0)

In [9]:
timedelta(12)

datetime.timedelta(days=12)

In [10]:
t1 + timedelta(12) ## day가 추가

datetime.datetime(2019, 1, 13, 0, 0)

In [11]:
t1 + 2 * timedelta(12)

datetime.datetime(2019, 1, 25, 0, 0)

## 1. 4 string, datetime, pd.timestamdp객체 간의 변환

## 1.4.1 str => datetime
- 문자열에서 시간에 관련된 정보다 어떻게 저장되어있는지 포멘 전달하기

1.4.2 datetime ==> str

In [12]:
dates = [datetime(2019,8,1), datetime(2019,8,3), datetime(2019,8,8), datetime(2019,9,11), datetime(2019,10,1)]

In [13]:
ts1 = pd.Series(np.arange(5), index = dates)

In [14]:
ts1  # index를 시간으로 넣기

2019-08-01    0
2019-08-03    1
2019-08-08    2
2019-09-11    3
2019-10-01    4
dtype: int32

In [15]:
ts1.index

DatetimeIndex(['2019-08-01', '2019-08-03', '2019-08-08', '2019-09-11',
               '2019-10-01'],
              dtype='datetime64[ns]', freq=None)

In [16]:
pd.date_range('1/1/2000', periods = 10)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame({'Naver': [100, 101, 103, 105], 
                   'Kakao':[90, 100, 110, 90]}, 
                  index=pd.date_range('2019-08-01', periods=4, freq='B'))

In [18]:
df

            Naver  Kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-05    103    110
2019-08-06    105     90

In [19]:
df.resample('D').ffill()  # 넙값의 앞의 같으로 대체됨.

            Naver  Kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-03    101    100
2019-08-04    101    100
2019-08-05    103    110
2019-08-06    105     90

In [20]:
df.resample('D').ffill(limit = 1)

            Naver  Kakao
2019-08-01  100.0   90.0
2019-08-02  101.0  100.0
2019-08-03  101.0  100.0
2019-08-04    NaN    NaN
2019-08-05  103.0  110.0
2019-08-06  105.0   90.0

4.3. Resampling withr Periods

In [21]:
frame = pd.DataFrame(df)
df

            Naver  Kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-05    103    110
2019-08-06    105     90

In [22]:
df.index = pd.period_range('2008', '2011', freq='A-DEC')

In [23]:
df.resample('2y').apply(sum, axis=0)

      Naver  Kakao
2008    201    190
2010    208    200

In [24]:
df.resample('2y').apply(lambda x: x.mean())

      Naver  Kakao
2008  100.5     95
2010  104.0    100

In [25]:
df.resample('2y').apply(lambda x : x.sum())

      Naver  Kakao
2008    201    190
2010    208    200

In [26]:
df.resample('Q').fillna(method='ffill')

        Naver  Kakao
2008Q1    100     90
2008Q2    100     90
2008Q3    100     90
2008Q4    100     90
2009Q1    101    100
2009Q2    101    100
2009Q3    101    100
2009Q4    101    100
2010Q1    103    110
2010Q2    103    110
2010Q3    103    110
2010Q4    103    110
2011Q1    105     90
2011Q2    105     90
2011Q3    105     90
2011Q4    105     90

In [34]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (0.7.0)
Requirement already satisfied: pandas>=0.19.2 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas_datareader) (0.25.1)
Requirement already satisfied: requests>=2.3.0 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: wrapt in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas_datareader) (1.11.2)
Requirement already satisfied: lxml in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas_datareader) (4.4.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas>=0.19.2->pandas_datareader) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas>=0.19.2->pandas_datareader) (1.16.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from pandas>=0.19.2->pandas_datareader) (2019.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from requests>=2.3.0->pandas_datareader) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\1class-017\.conda\envs\data_science\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.19.2->pandas_datareader) (1.12.0)

In [ ]:
!pip uninstall pandas

In [ ]:
!pip install pandas==0.5.0

In [33]:
import pandas_datareader.data as web
import matplotlib.pyplot as plt
%matplotlib inline

start = datetime(2019,1,1)
end = datetime.now()  # 오늘까지
 
# Let's get Apple stock data; Apple's ticker symbol is AAPL
# First argument is the series we want, second is the source ("yahoo" for Yahoo! Finance), third is the start date, fourth is the end date
apple = web.DataReader("AAPL", "yahoo", start, end)
ms =  web.DataReader("MSFT", "yahoo", start, end)
amz =  web.DataReader("AMZN", "yahoo", start, end)

ModuleNotFoundError: No module named 'pandas_datareader'

In [ ]:
df_volume = pd.DataFrame({'apple':apple.Volume, 'ms':ms.Volume, 'amz':amz.Volume})

In [ ]:
df_volume = df_volume.astype(np.int64)

In [ ]:
df_volume.info()

In [ ]:
df_volume['amz'].plot(figsize=(10, 8))