# 1. PSL의 datetime 모듈에 대하여

## PSL : Python Standrad Library


### datatime: 날짜와 시간을 담당하는 모듈

In [1]:
from datetime import datetime
import numpy as np 
import pandas as pd

## 1.1. datatime 객체의 주요 attribute

- datetime.year
- datetime.month
- datetime.day
- datetime.hour
- datetime.second
- datetime.microsecond

## 1.2. datetime 객체의 생성 방법

In [2]:
datetime.now()

datetime.datetime(2019, 9, 1, 15, 36, 51, 297774)

In [3]:
datetime(2019, 8, 27)

datetime.datetime(2019, 8, 27, 0, 0)

## 1, 3, datetime 객체의 산술 연산

- daatetime간의 연산

In [4]:
datetime.now() - datetime(2019, 8, 27)

datetime.timedelta(days=5, seconds=56211, microseconds=326045)

- datetime과 timedelta간의 산술 연산

In [5]:
from datetime import timedelta

In [6]:
t1 = datetime(2019, 1, 1)

In [7]:
t1 +timedelta(12)

datetime.datetime(2019, 1, 13, 0, 0)

In [8]:
t1 + 2 * timedelta(12)

datetime.datetime(2019, 1, 25, 0, 0)

In [9]:
t1 - timedelta(12)

datetime.datetime(2018, 12, 20, 0, 0)

## 1.4. string, datetime, pd.timestampe 객체 간의 변환.


### 1.4.1 str --> datetime
- 문자열에서 시간에 관련된 정보가 어떻게 저장되어있는지 포멧을 전달하기

In [10]:
datetime.strptime('2019-08-01', '%Y-%m-%d')

datetime.datetime(2019, 8, 1, 0, 0)

In [11]:
datetime.strptime('2019/09/01', '%Y/%m/%d')

datetime.datetime(2019, 9, 1, 0, 0)

In [12]:
datetime.strptime('08/01/19', '%m/%d/%y')

datetime.datetime(2019, 8, 1, 0, 0)

### 1. 4. 2 datetime ==> str

In [13]:
datetime(2019, 8, 1).strftime('%Y-%m-%d')

'2019-08-01'

### 1.4.3 str ==> timestamp

In [14]:
pd.to_datetime(['2019-08-01', '2019/08/2'])

DatetimeIndex(['2019-08-01', '2019-08-02'], dtype='datetime64[ns]', freq=None)

# 2. Time Sefies Data HAndling

## 2.1. Time Series 객체를 생성하는 방법

> pd.Series의 parameter index에 시간을 넣어주면 시계열 데이터이다.

> index에 시간을 넣는 방법
- datetime을 원소를 갖는 iterable한 객체
- pd.DatetimeIndx 객체

- datetime을 index로 갖는 객체

In [15]:
dates = [datetime(2019,8,1), datetime(2019,8,3), datetime(2019,8,8), datetime(2019, 9, 11), datetime(2019, 10, 1)]
ts1 = pd.Series(np.arange(5), index = dates)
ts1

2019-08-01    0
2019-08-03    1
2019-08-08    2
2019-09-11    3
2019-10-01    4
dtype: int32

In [16]:
ts1.index

DatetimeIndex(['2019-08-01', '2019-08-03', '2019-08-08', '2019-09-11',
               '2019-10-01'],
              dtype='datetime64[ns]', freq=None)

- datatimeIndex 객체

In [17]:
ts1 = pd.Series(np.arange(5), pd.DatetimeIndex(dates))
ts1

2019-08-01    0
2019-08-03    1
2019-08-08    2
2019-09-11    3
2019-10-01    4
dtype: int32

## 2.2 TimeSeries의 Index를 만드는 방법

- 모든 것을 날싸로 index를 만들 수도 있지만 특별한 규칙을 통해 만들수도 있음.

> pd.date_range()함수의 인자
- **D: 매일**
- **A: 매년**
- **B: 매 근무일**
- **T: 매 분**
- M: 매월 말
- MS: 매월초
- BM: 매 근무 월말
- BMS: 매근무 월초
- W-MON: 매주 월요일
- W-1Mon: 매월 첫 월요일
- Q-JAN:매 분기, 첫번째 달 말
- QS-JAN: 매 분기 첫번째달 초
- BQ-JAN: 매 분기, 첫번째달 말 근무일
- BQS-JAN: 매분기 첫번째달 초 기준

In [18]:
pd.date_range('1/1/2000', periods = 10)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range('1/1/2000', periods = 10, freq = 'M')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31'],
              dtype='datetime64[ns]', freq='M')

In [20]:
ts1 = pd.Series(np.arange(10), index = _)

In [21]:
ts1

2000-01-31    0
2000-02-29    1
2000-03-31    2
2000-04-30    3
2000-05-31    4
2000-06-30    5
2000-07-31    6
2000-08-31    7
2000-09-30    8
2000-10-31    9
Freq: M, dtype: int32

In [22]:
ts1.shift(2)

2000-01-31    NaN
2000-02-29    NaN
2000-03-31    0.0
2000-04-30    1.0
2000-05-31    2.0
2000-06-30    3.0
2000-07-31    4.0
2000-08-31    5.0
2000-09-30    6.0
2000-10-31    7.0
Freq: M, dtype: float64

In [23]:
ts1.shift(2, freq = 'M')

2000-03-31    0
2000-04-30    1
2000-05-31    2
2000-06-30    3
2000-07-31    4
2000-08-31    5
2000-09-30    6
2000-10-31    7
2000-11-30    8
2000-12-31    9
Freq: M, dtype: int32

## 2.3 Time Series 데이터를 indexint & Slicing 을 통해 접근& 변경하는 법

In [24]:
ts1.index[1]

Timestamp('2000-02-29 00:00:00', freq='M')

- index를 그대로 입력하는 것은 어려운 일이지만, 다양한 형태로 입력해도 찾아줌

In [25]:
ts1['2000-01-31']

0

In [26]:
ts1['20000131']

0

In [27]:
ts1['01-31-2000']

0

In [28]:

ts1['01/31/2000']

0

In [29]:
ts1[:]

2000-01-31    0
2000-02-29    1
2000-03-31    2
2000-04-30    3
2000-05-31    4
2000-06-30    5
2000-07-31    6
2000-08-31    7
2000-09-30    8
2000-10-31    9
Freq: M, dtype: int32

In [30]:
ts1['2000-02-29'] = 120

In [31]:
ts1

2000-01-31      0
2000-02-29    120
2000-03-31      2
2000-04-30      3
2000-05-31      4
2000-06-30      5
2000-07-31      6
2000-08-31      7
2000-09-30      8
2000-10-31      9
Freq: M, dtype: int32

In [32]:
ts1['2000-02-29']

120

In [33]:
# 시계열 데이터의 특수한 indexing
ts1['2000-01']

2000-01-31    0
Freq: M, dtype: int32

In [34]:
ts1['2000-01': '2000-03']

2000-01-31      0
2000-02-29    120
2000-03-31      2
Freq: M, dtype: int32

# 3. Peroid

## 3.1Period란

- pd.DatatimeIndexm의 원소인 timestamp: **point**
- pd.Periods: **구간**


## 3.2. Peroid 객체의 주요 attribute
> Period.day
- 이 구간의 끝점의 일자

> peroid.dayofweek
- 이 구간의 끝점의 요일

> Period.starttime
- 이 구간의 시작점

> Peroid.endtime
- 이 구간의 끝점

## 3.3. peroid 객체를 생성하는 방법

In [35]:
# 2007년의 끝점(OCT)이 10월 31일인 1년짜리(-A)구간 형성하려면
pd.Period(2007, freq = 'A-OCT')

Period('2007', 'A-OCT')

In [36]:

pd.Period('2007', freq ='A-OCT').start_time

Timestamp('2006-11-01 00:00:00')

In [37]:
pd.Period(2007, freq = 'A-OCT').end_time

Timestamp('2007-10-31 23:59:59.999999999')

## 3.4. Peroid 객체들을 생성하고 시계열 데이터 만들기

In [38]:
# 끝점(2019Q4)를 12월 말(DEC)로 두었을 때 시작접(2018Q1)부터 분기(Q)마다 구간을 나눠서 range를 만들기

In [39]:
pd.period_range('2018Q1', '2019Q4', freq = 'Q-DEC')

PeriodIndex(['2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [40]:
# 이를 이용하여 시계열 데이터 만들기
ts1 = pd.Series(np.arange(8), index = _)
ts1

2018Q1    0
2018Q2    1
2018Q3    2
2018Q4    3
2019Q1    4
2019Q2    5
2019Q3    6
2019Q4    7
Freq: Q-DEC, dtype: int32

In [41]:
ts1.index

PeriodIndex(['2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4'],
            dtype='period[Q-DEC]', freq='Q-DEC')

# 4. Resampling

- 특정한 기준을 가지고 주어진 시계열 데이터셋을 줄이거나 늘리는 것

> Downsampling
- 줄이는 행위

> Upsamplig
- 늘리는 행위

## 4.1 Downsampling
- Downsampling의 핵심 키워드는 aggregating

In [42]:

dates = pd.date_range('1/1/2019', periods = 14, freq = 'T')
dates

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:01:00',
               '2019-01-01 00:02:00', '2019-01-01 00:03:00',
               '2019-01-01 00:04:00', '2019-01-01 00:05:00',
               '2019-01-01 00:06:00', '2019-01-01 00:07:00',
               '2019-01-01 00:08:00', '2019-01-01 00:09:00',
               '2019-01-01 00:10:00', '2019-01-01 00:11:00',
               '2019-01-01 00:12:00', '2019-01-01 00:13:00'],
              dtype='datetime64[ns]', freq='T')

In [43]:
ts = pd.Series(np.arange(14), index = dates)
ts

2019-01-01 00:00:00     0
2019-01-01 00:01:00     1
2019-01-01 00:02:00     2
2019-01-01 00:03:00     3
2019-01-01 00:04:00     4
2019-01-01 00:05:00     5
2019-01-01 00:06:00     6
2019-01-01 00:07:00     7
2019-01-01 00:08:00     8
2019-01-01 00:09:00     9
2019-01-01 00:10:00    10
2019-01-01 00:11:00    11
2019-01-01 00:12:00    12
2019-01-01 00:13:00    13
Freq: T, dtype: int32

In [44]:
# downsampling
ts.resample('5min').apply(sum)

2019-01-01 00:00:00    10
2019-01-01 00:05:00    35
2019-01-01 00:10:00    46
Freq: 5T, dtype: int32

In [45]:
ts.resample('5min').apply(sum).shift(10, freq = '5min')

2019-01-01 00:50:00    10
2019-01-01 00:55:00    35
2019-01-01 01:00:00    46
Freq: 5T, dtype: int32

In [46]:
ts.resample('5min').ohlc()

                     open  high  low  close
2019-01-01 00:00:00     0     4    0      4
2019-01-01 00:05:00     5     9    5      9
2019-01-01 00:10:00    10    13   10     13

# 4.2 Upsamling

- 핵심 키둬드: interpolation

> 누락된 데이터를 채워넣는 방법
- ffill : 앞의 데이터로 채워넣기
- bfill: 뒤의 데이터로 채워넣기

In [47]:
dates = pd.date_range('2019-08-01', periods = 4, freq = 'B')
dates

DatetimeIndex(['2019-08-01', '2019-08-02', '2019-08-05', '2019-08-06'], dtype='datetime64[ns]', freq='B')

In [48]:

df = pd.DataFrame({'Naver': [100, 101, 103, 105],
                  'kakao': [90, 100, 110, 90]},
                 index = dates)

In [49]:
df

            Naver  kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-05    103    110
2019-08-06    105     90

In [50]:
df.resample('D').ffill()

            Naver  kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-03    101    100
2019-08-04    101    100
2019-08-05    103    110
2019-08-06    105     90

In [51]:
df.resample('D').ffill(limit = 1)

            Naver  kakao
2019-08-01  100.0   90.0
2019-08-02  101.0  100.0
2019-08-03  101.0  100.0
2019-08-04    NaN    NaN
2019-08-05  103.0  110.0
2019-08-06  105.0   90.0


## 4.3 Resampling with Peroids

- 시계열 데이터의  indexrk timestamp가 period인 경우에는 resampling을 어떻게 할까?

In [52]:
time = pd.DataFrame(df)
time

            Naver  kakao
2019-08-01    100     90
2019-08-02    101    100
2019-08-05    103    110
2019-08-06    105     90

In [53]:
df.index = pd.period_range('2008','2011', freq = 'A-DEC')

In [54]:

time

      Naver  kakao
2008    100     90
2009    101    100
2010    103    110
2011    105     90

In [55]:
df

      Naver  kakao
2008    100     90
2009    101    100
2010    103    110
2011    105     90

- 2년 단위로 eownsampling을 하고 싶다면?

In [56]:
df.resample('2y').apply(sum, axis = 0)

      Naver  kakao
2008    201    190
2010    208    200

In [57]:
df.resample('2y').apply(lambda x: x.mean())

      Naver  kakao
2008  100.5     95
2010  104.0    100

- 분기단위로 upsampling을 하고싶다면?

In [58]:
df.resample('Q').fillna(method = 'ffill')

        Naver  kakao
2008Q1    100     90
2008Q2    100     90
2008Q3    100     90
2008Q4    100     90
2009Q1    101    100
2009Q2    101    100
2009Q3    101    100
2009Q4    101    100
2010Q1    103    110
2010Q2    103    110
2010Q3    103    110
2010Q4    103    110
2011Q1    105     90
2011Q2    105     90
2011Q3    105     90
2011Q4    105     90

In [59]:
df.resample('Q').ffill()

        Naver  kakao
2008Q1    100     90
2008Q2    100     90
2008Q3    100     90
2008Q4    100     90
2009Q1    101    100
2009Q2    101    100
2009Q3    101    100
2009Q4    101    100
2010Q1    103    110
2010Q2    103    110
2010Q3    103    110
2010Q4    103    110
2011Q1    105     90
2011Q2    105     90
2011Q3    105     90
2011Q4    105     90

# 5. Time Series Ploting

In [60]:
import pandas_datareader.data as web
import maoplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'pandas_datareader'

In [61]:
start = datetime(2019, 1, 1)

end = datetime.now()

In [62]:
apple = web.DataReader('APPLE', 'yahoo', start, end)
ms = web.DataReader('MAFT', 'yahoo', start, end)
amz = web.DataReader('AMZN', 'yahoo', start, end)

NameError: name 'web' is not defined

In [64]:
df_volume = pd.DataFrame({'apple': apple.Volume,
                         'ms': ms.Volume,
                         'amz': amz.Volume})

NameError: name 'apple' is not defined

In [67]:
df_volume = df_volume.astype(np.int64)

NameError: name 'df_volume' is not defined

In [68]:
df_volume['amz'].plot(figrue=(10,8))

NameError: name 'df_volume' is not defined

In [69]:
df_volume.plot(figrue=(10,8))

NameError: name 'df_volume' is not defined

- moving window Functions

In [71]:
df_volume.rolling(window = 5).mean().plot(figsize = (10, 8))

NameError: name 'df_volume' is not defined